a { text-decoration: none; }

.container {
    display: flex;
    flex-direction: column;
    background: url(../images/background1.png);
    background-size: cover;
}
.header {
    width: 1028px;
    display: flex;
    margin: 0 auto;
    padding-top: 46px;
}
.header-logo {
    display: flex;
    align-items: center;
}
.header-logo:hover .header-logo-info span {
    color: #F26522;
}
.header-logo-info {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
}
.header-logo-info span {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 29px;
    align-items: center;
    color: white;
    text-transform: uppercase;
}
.header-logo-info span:last-child {
    font-size: 18px;
    margin-top: 5px;
} 
.logo-image-orange {
    display: none;
}
.header-logo:hover .logo-image-white {
    display: none;
}
.header-logo:hover .logo-image-orange {
    display: block;
}
.header-contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding-left: 663px;
}
.header-contacts a {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: white;
}
.header-email {
    padding-bottom: 19px;
}
.header-contacts a:hover {
    color: #F26522;
}
.grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 22px;
    padding-bottom: 48px;
}
.grid-menu {
    width: 1030px;
    padding-top: 22px;
    display: grid;
    justify-content:space-between;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    row-gap: 78px;
    column-gap: 61px;
    grid-template-areas: 
        'item1 item2  item3'
        'item4 item5  item6'
    ;
}
.grid-net-item {
    position: relative;
}
.image-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    padding-top: 20px;
    color: #FFFFFF;
} 
.grid-net-item:hover .image-name {
    color: #F26522;
}
.grid-net-item:nth-child(1) {
    width: 300px;
    grid-area: item1;
}
.grid-net-item:nth-child(2) {
    width: 300px;
    grid-area: item2;
}
.grid-net-item:nth-child(3) {
    width: 300px;
    grid-area: item3;
}
.grid-net-item:nth-child(4) {
    width: 300px;
    grid-area: item4;
}
.grid-net-item:nth-child(5) {
    width: 300px;
    grid-area: item5;
}
.grid-net-item:nth-child(6) {
    width: 300px;
    grid-area: item6;
}
.grid-net-item a img {
    
    border: 3px solid transparent;
    border-image: linear-gradient(to right top, black, white, black);
    border-image-slice: 1;
}
.transition-text {
    position: absolute;
    top: 169px;
    width: 290px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    display: none;
    justify-content: space-between;
    align-items: center;
    padding-left: 16px;
    background-color: #F26522;
    color: #FFFFFF;
}
.grid-net-item:hover .transition-text {
    display: flex;
}
.transition-price  {
    display: flex;
    flex-direction: column;
    font-size: 10px;
    line-height: 10px;
    padding-top: 7px;
}
.transition-price span {
    font-size: 20px;
    line-height: 20px;
    padding-top: 8px;
    padding-bottom: 12px;
}
.transition-text-details {
    font-size: 14px;
    line-height: 14px;
    padding-right: 53px;
    padding-top: 29px;
}
.transition-text-details::after {
    color: white;
    padding-left: 16px;
    content: ">";
}
.footer-container {
    display: flex;
    justify-content: center;
    padding-top: 49px;
    padding-bottom: 15px;
}
.footer-container p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
}